In [1]:
from requests import get
import pandas as pd
from API_Keys import quandl

In [20]:
CMEgold_futures_url = f"https://www.quandl.com/api/v3/datasets/CHRIS/CME_GC1.json?start_date=2014-01-01&api_key={quandl}"
CMEsilver_futures_url = f"https://www.quandl.com/api/v3/datasets/CHRIS/CME_SI1.json?api_key={quandl}"
CMEpalladium_futures_url = f"https://www.quandl.com/api/v3/datasets/CHRIS/CME_PA1.json?api_key={quandl}"
CMEplatinum_futures_url = f"https://www.quandl.com/api/v3/datasets/CHRIS/CME_PL1.json?api_key={quandl}"
ICE_USD_futures_url = f"https://www.quandl.com/api/v3/datasets/CHRIS/ICE_DX1.json?api_key={quandl}"
ICE_ZAR_futures_url = f"https://www.quandl.com/api/v3/datasets/CHRIS/ICE_ZR1.json?api_key={quandl}"
CME_TenYear_futures_url = f"https://www.quandl.com/api/v3/datasets/CHRIS/CME_TY1.json?api_key={quandl}"
SGX_EuroD_futures_url = f"https://www.quandl.com/api/v3/datasets/CHRIS/SGX_ED1.json?api_key={quandl}"
Gold_OpenInt_url = f"https://www.quandl.com/api/v3/datasets/CFTC/088691_FO_ALL.json?api_key={quandl}"
Silver_OpenInt_url = f"https://www.quandl.com/api/v3/datasets/CFTC/084691_FO_ALL.json?api_key={quandl}"
Palladium_OpenInt_url = f"https://www.quandl.com/api/v3/datasets/CFTC/075651_FO_ALL.json?api_key={quandl}"
Platinum_OpenInt_url = f"https://www.quandl.com/api/v3/datasets/CFTC/076651_FO_ALL.json?api_key={quandl}"

In [21]:
cme_gold_futures = get(CMEgold_futures_url)
cme_silver_futures = get(CMEsilver_futures_url)
cme_palladium_futures = get(CMEpalladium_futures_url)
cme_platinum_futures = get(CMEplatinum_futures_url)
ice_usd_futures = get(ICE_USD_futures_url)
ice_usdzar_futures = get(ICE_ZAR_futures_url)
cme_tenyear_futures = get(CME_TenYear_futures_url)
sgx_eurodollar_futures = get(SGX_EuroD_futures_url)
Gold_OpenInt = get(Gold_OpenInt_url)
Silver_OpenInt = get(Silver_OpenInt_url)
Palladium_OpenInt = get(Palladium_OpenInt_url)
Platinum_OpenInt = get(Platinum_OpenInt_url)

In [22]:
cme_gold_futures = cme_gold_futures.json()
cme_silver_futures = cme_silver_futures.json()
cme_palladium_futures = cme_palladium_futures.json()
cme_platinum_futures = cme_platinum_futures.json()
ice_usd_futures = ice_usd_futures.json()
ice_usdzar_futures = ice_usdzar_futures.json()
cme_tenyear_futures = cme_tenyear_futures.json()
sgx_eurodollar_futures = sgx_eurodollar_futures.json()
Gold_OpenInt = Gold_OpenInt.json()
Silver_OpenInt = Silver_OpenInt.json()
Palladium_OpenInt = Palladium_OpenInt.json()
Platinum_OpenInt = Platinum_OpenInt.json()

In [23]:
gold_df = pd.DataFrame(cme_gold_futures["dataset"]["data"],columns=cme_gold_futures["dataset"]["column_names"])
silver_df = pd.DataFrame(cme_silver_futures["dataset"]["data"],columns=cme_silver_futures["dataset"]["column_names"])
palladium_df = pd.DataFrame(cme_palladium_futures["dataset"]["data"],columns=cme_palladium_futures["dataset"]["column_names"])
platinum_df = pd.DataFrame(cme_platinum_futures["dataset"]["data"],columns=cme_platinum_futures["dataset"]["column_names"])
usd_df = pd.DataFrame(ice_usd_futures["dataset"]["data"],columns=ice_usd_futures["dataset"]["column_names"])
usdzar_df = pd.DataFrame(ice_usdzar_futures["dataset"]["data"],columns=ice_usdzar_futures["dataset"]["column_names"])
tenyear_df = pd.DataFrame(cme_tenyear_futures["dataset"]["data"],columns=cme_tenyear_futures["dataset"]["column_names"])
eurodollar_df = pd.DataFrame(sgx_eurodollar_futures["dataset"]["data"],columns=sgx_eurodollar_futures["dataset"]["column_names"])
goldOI_df = pd.DataFrame(Gold_OpenInt["dataset"]["data"],columns=Gold_OpenInt["dataset"]["column_names"])
silverOI_df = pd.DataFrame(Silver_OpenInt["dataset"]["data"],columns=Silver_OpenInt["dataset"]["column_names"])
palladiumOI_df = pd.DataFrame(Palladium_OpenInt["dataset"]["data"],columns=Palladium_OpenInt["dataset"]["column_names"])
platinumOI_df = pd.DataFrame(Platinum_OpenInt["dataset"]["data"],columns=Platinum_OpenInt["dataset"]["column_names"])

In [24]:
gold_df

,Date,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
0,2019-07-23,1426.0,1431.4,1414.6,1418.1,5.2,1421.7,380653.0,276220.0
1,2019-07-22,1428.5,1430.8,1423.0,1425.5,0.2,1426.9,247986.0,290181.0
2,2019-07-19,1448.3,1454.4,1421.1,1426.5,1.4,1426.7,509401.0,320706.0
3,2019-07-18,1428.5,1449.7,1415.6,1447.4,4.8,1428.1,468333.0,323749.0
4,2019-07-17,1407.9,1428.4,1401.3,1428.2,12.1,1423.3,349550.0,317778.0
5,2019-07-16,1416.4,1420.0,1402.1,1407.6,2.3,1411.2,327649.0,329055.0
6,2019-07-15,1417.7,1421.6,1409.3,1415.7,1.3,1413.5,231713.0,330688.0
7,2019-07-12,1406.2,1418.9,1404.5,1417.7,5.5,1412.2,277331.0,339821.0
8,2019-07-11,1421.1,1429.4,1402.7,1405.4,5.8,1406.7,385941.0,362474.0
9,2019-07-10,1400.0,1421.1,1391.8,1421.0,12.0,1412.5,431541.0,377353.0
10,2019-07-09,1397.9,1402.4,1387.5,1399.6,0.5,1400.5,281080.0,393474.0
11,2019-07-08,1401.0,1409.9,1393.8,1397.6,0.1,1400.0,308188.0,407864.0
12,2019-07-05,1421.6,1426.8,1388.6,1401.2,20.8,1400.1,557936.0,419593.0
13,2019-07-03,1424.7,1441.0,1414.7,1421.5,12.9,1420.9,409549.0,424625.0
14,2019-07-02,1386.2,1424.0,1386.2,1421.5,18.7,1408.0,374016.0,418811.0
15,2019-07-01,1401.8,1401.9,1384.7,1387.0,24.4,1389.3,378921.0,417048.0
16,2019-06-28,1413.3,1427.8,1408.6,1412.5,1.7,1413.7,300220.0,418399.0
17,2019-06-27,1412.7,1415.3,1401.4,1412.8,3.4,1412.0,325479.0,415593.0
18,2019-06-26,1407.2,1416.0,1405.8,1413.3,3.3,1411.6,84.0,146.0
19,2019-06-25,1418.1,1433.3,1418.1,1422.5,0.6,1414.9,105.0,196.0
20,2019-06-24,1406.0,1420.6,1402.1,1418.1,18.1,1414.3,125.0,163.0
21,2019-06-21,1406.0,1406.0,1390.3,1399.3,3.3,1396.2,35.0,235.0
22,2019-06-20,1381.5,1389.7,1379.5,1386.9,48.3,1392.9,76.0,298.0
23,2019-06-19,1344.0,1344.0,1343.5,1344.0,2.0,1344.6,129.0,195.0
24,2019-06-18,1349.3,1349.3,1341.6,1347.5,7.9,1346.6,29.0,469.0
25,2019-06-17,1339.0,1340.3,1335.0,1339.8,1.4,1338.7,76.0,590.0
26,2019-06-14,1345.4,1355.4,1339.3,1340.7,0.9,1340.1,914.0,304.0
27,2019-06-13,1331.6,1341.1,1331.6,1340.9,7.3,1339.2,157.0,297.0
28,2019-06-12,1326.9,1334.5,1326.9,1331.7,5.5,1331.9,139.0,292.0
29,2019-06-11,1328.4,1328.4,1319.1,1325.9,1.7,1326.4,201.0,1160.0
...,...,...,...,...,...,...,...,...,...
1367,2014-02-13,1293.3,1303.5,1287.5,1300.4,NaN,1300.4,877.0,1014.0
1368,2014-02-12,1290.5,1296.2,1285.5,1295.3,NaN,1295.3,140.0,1061.0
1369,2014-02-11,1274.0,1292.0,1273.8,1290.1,NaN,1290.1,562.0,1602.0
1370,2014-02-10,1269.6,1277.3,1265.7,1274.8,NaN,1274.8,742.0,1730.0
1371,2014-02-07,1258.3,1271.4,1257.9,1263.3,NaN,1263.3,436.0,1954.0
1372,2014-02-06,1258.0,1267.0,1253.5,1257.6,NaN,1257.6,274.0,3007.0
1373,2014-02-05,1254.0,1273.7,1253.1,1257.3,NaN,1257.3,1616.0,4058.0
1374,2014-02-04,1258.4,1260.7,1247.8,1251.7,NaN,1251.7,1745.0,4793.0
1375,2014-02-03,1242.4,1266.3,1241.2,1260.4,NaN,1260.4,2914.0,5865.0
1376,2014-01-31,1243.6,1254.5,1238.4,1240.1,NaN,1240.1,5820.0,8993.0
1377,2014-01-30,1267.0,1267.7,1237.5,1242.2,NaN,1242.2,45276.0,22230.0
1378,2014-01-29,1255.9,1270.6,1248.5,1262.2,NaN,1262.2,137281.0,45804.0
1379,2014-01-28,1255.6,1262.3,1248.2,1250.8,NaN,1250.8,156091.0,83831.0
1380,2014-01-27,1270.1,1279.8,1251.9,1263.4,NaN,1263.4,167373.0,111908.0
1381,2014-01-24,1263.7,1273.2,1256.8,1264.3,NaN,1264.3,161973.0,128788.0
1382,2014-01-23,1235.8,1267.0,1230.8,1262.3,NaN,1262.3,209678.0,129697.0
1383,2014-01-22,1240.5,1243.5,1235.5,1238.6,NaN,1238.6,86909.0,139196.0
1384,2014-01-21,1252.5,1262.0,1235.1,1241.8,NaN,1241.8,174939.0,154271.0
1385,2014-01-17,1241.7,1254.6,1237.3,1251.9,NaN,1251.9,112890.0,154804.0
1386,2014-01-16,1241.8,1244.9,1235.8,1240.2,NaN,1240.2,111927.0,163447.0
1387,2014-01-15,1244.3,1244.6,1233.5,1238.3,NaN,1238.3,105558.0,165856.0
1388,2014-01-14,1252.7,1254.9,1241.1,1245.4,NaN,1245.4,139659.0,176549.0
1389,2014-01-13,1247.7,1255.3,1243.0,1251.1,NaN,1251.1,118078.0,180012.0
1390,2014-01-10,1227.1,1248.5,1226.6,1246.9,NaN,1246.9,163195.0,181181.0
1391,2014-01-09,1224.9,1230.9,1222.8,1229.4,NaN,1229.4,125338.0,192814.0
1392,2014-01-08,1231.0,1231.8,1217.7,1225.5,NaN,1225.5,157896.0,202785.0
1393,2014-01-07,1237.0,1244.7,1224.2,1229.6,NaN,1229.6,128803.0,207698.0
1394,2014-01-06,1237.0,1247.7,1212.6,1238.0,NaN,1238.0,152848.0,213941.0
1395,2014-01-03,1222.3,1239.6,1221.3,1238.6,NaN,1238.6,115609.0,215736.0
1396,2014-01-02,1204.5,1230.8,1202.5,1225.2,NaN,1225.2,137301.0,216979.0

In [7]:
print(len(gold_df.index))
print(len(silver_df.index))
print(len(palladium_df.index))
print(len(platinum_df.index))
print(len(usd_df.index))
print(len(usdzar_df.index))
print(len(tenyear_df.index))
print(len(eurodollar_df.index))
print(len(goldOI_df.index))
print(len(silverOI_df.index))
print(len(palladiumOI_df.index))
print(len(platinumOI_df.index))

11187
14064
10601
12693
8597
3973
9370
1325
684
684
684
684

In [ ]:
#g_data = g_futures_df.merge(g_options_df, on = "Date", how = "inner")
#g_data = g_data[["Date","Settle","Open Interest","Money Manager Longs","Money Manager Shorts"]]
#print(len(g_data.index))
#g_data.head()